<a href="https://colab.research.google.com/github/sungbin111111/-/blob/circleci-project-setup/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
samsung = 50000
samsung*=10
samsung

500000

In [ ]:
year = "2020"
int(year)
print(int(year)-1)
print(int(year)-2)
print(int(year)-3)

2019
2018
2017

In [ ]:
string = "홀짝홀짝홀짝"
string[0]

'홀'

In [ ]:
n1 = "python"
r1 = ''
for c in n1:r1 = c + r1
f'name : {n1}'
print(f'reverse : {r1}')

reverse : nohtyp

In [ ]:
movie_rank = ['닥터스트레인지', '슾플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
movie_rank

['닥터스트레인지', '슈퍼맨', '슾플릿', '럭키', '배트맨']

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
nums.remove(2)
nums.remove(4)
nums.remove(6)
nums.remove(8)
nums.remove(10)
nums

[1, 3, 5, 7, 9]

In [ ]:
data = [2,4,3,1,5,10,9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
a='이름: {} 나이: {}'
b='이름: {} 나이: {}'
print(a.format(name1,age1))
print(b.format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13